<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.png" alt="batapy88.com logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<!-- #srchBox -->
		<div id="srchBox" class="watermark">
			<form action="https://custom.search.yahoo.co.jp/search" method="get" id="srch" target="yjserp">
			<p id="srchForm">
				<input type="search" results="5" name="p" id="srchInput"><input type="submit" value="Search" id="srchBtn" onclick="document.getElementById('srchInput').focus();">
				<input type="hidden" id="fr" name="fr" value="cse">
				<input type="hidden" id="ei" name="ei" value="UTF-8">
				<input type="hidden" id="csid" name="csid" value="jkf0I_5sLqKkp2NSMUeE2uPGLtghagZPD74Bge2fceT09rQ-">
			</p>
			<input type="hidden" name="vs" value="batapy88.com" id="yjInsite">
			</form>
			<img src="https://custom.search.yahoo.co.jp/images/window/jkf0I_5sLqKkp2NSMUeE2uPGLtghagZPD74Bge2fceT09rQ-.gif">
		</div>
		<script type="text/javascript">
			(function () {
			var sb = document.getElementById('srchBox');
			if (sb && sb.className == 'watermark') {
				var si = document.getElementById('srchInput');
				var f = function () {
				si.className = 'nomark';
				};
				var b = function () {
				if (si.value == '') {
					si.className = '';
				}
				};
				si.onfocus = f;
				si.onblur = b;
				if (!/[&?]p=[^&]/.test(location.search)) {
				b();
				} else {
				f();
				}
			}
			})();
		</script>
		<!-- /#srchBox -->
	<!--<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

	 --><li><a href="/post" class="pa3 no-underline db">Posts</a></li>

	<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>
</nav>
