<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body class="sans-serif">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9524KZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }} 
    <a href="https://px.a8.net/svt/ejp?a8mat=2ZRYNR+E97O8I+50+5SEKLD" target="_blank" rel="nofollow">
      <img border="0" width="728" height="90" alt="" src="https://www23.a8.net/svt/bgt?aid=181023543862&wid=001&eno=01&mid=s00000000018035004000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=2ZRYNR+E97O8I+50+5SEKLD" alt="">
    {{ partial "footer" . }} 
  </body>
</html>