pre {
    color: #ffffff;
    background-color: #000000;
}

h1, h2:not(.primary), h3 {
    padding: .5em .75em;
    background-color: #f5f3f2;
    border-left: 6px solid var(--primary);
}

:root {
	/* Colors */
    --primary: rgba(255, 195, 0, 1);
    --highlight: rgba(250, 140, 0, 1);
}

  