pre {
    color: #ffffff;
    background-color: #000000;
    overflow: auto;
}

h1:not(.bg-primary), h2:not(.primary), h3:not(.primary) {
    padding: .5em .75em;
    /* background-color: #f5f3f2; */
    border-left: 6px solid var(--primary);
}

.f2 {
    font-size: 1.5 rem;
}

:root {
	/* Colors */
    --primary: rgba(255, 195, 0, 1);
    --highlight: rgba(250, 140, 0, 1);
}

body {
    font-size: 0.8 rem;
    line-height: 1.5;
}

#___gcse_0 {
    margin: auto;
}

#gsc-iw-id1 {
    width:15vw;
}

td.gsc-search-button > button {
    width:5vw;
}